.shadow_frame {
    // box-shadow: rgba(255, 166, 0, 0.476) 0px 0px 15px;
    border: 2px solid var(--main-color);
    margin: 2rem;
    border-radius: 2rem;
}

.button_container {
    padding: 1.4rem 1.4rem;
}

.spinner_box {
    width: 100%;
    height: 450px;
}

.position_center {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
}