<section class="d-flex justify-content-center align-items-center vh-100">
    <div class="d-flex flex-column align-items-center verification_window">
        <img src="./../../../assets/img/mail.png" alt="letter logo">
        <h1>Confirmation email have been sent</h1>
        <p>We have sent a verification email to the address you provided. Please check your inbox, including your spam
            or junk folder, and click the link in the email to confirm your account.</p>
            <a class="btn btn-outline-primary my-btn-style my-btn" href="sign-in">Back to sign-in</a>
    </div>
</section>