section {
    display: flex;
    gap: 1rem;
    margin: 2rem;
}

.width {
    flex: 1;
    min-width: max-content;
    flex-basis: 100%;
    max-width: max-content !important;
}

.border {
    border: var(--main-border) !important;
    border-radius: 1rem;
}

.text_center {
    text-align: center;
}

.card-body {
    p {
        margin: 0;
        font-weight: bold;
    }
}

.card_box {
    display: flex;
    justify-content: center;
    gap: .5rem;

    p:last-of-type {
        font-size: .8rem;
        line-height: 24px;
    }
}

.card-title {
    font-size: 1rem;
    font-weight: 300;
}

.positive {
    color: green;
}

.negative {
    color: red;
}