/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
    --main-color: #FF9900;
    --main-border: 2px solid var(--main-color);
}

// BTN STYLES

.my-btn-style {
    border-color: var(--main-color);
    color: var(--main-color);

    &:hover {
        background-color: var(--main-color);
        outline-color: var(--main-color);
        border-color: var(--main-color);
    }
}

.my-form-control-style {

    &:focus {
        border-color: rgba(255, 166, 0, 0.476);
        box-shadow: 0 0 0 0.25rem rgba(233, 143, 17, 0.25);
    }
}

.my-btn:disabled {
    border-color: grey;
    color: grey;
}

.my-btn-style.active {
    background-color: var(--main-color);
    outline-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
}

.error-border {
    border: 2px solid transparent !important;
    box-shadow: 0 0 5px red;
}

.active {
    background-color: var(--main-color);
}

// PAGINATION COSTOM COLOR

.pagination > .page-item > a {
    color: var(--main-color);
}

.pagination > .page-item > a:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
}

.pagination > .active > a {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
}

.pagination > .active > a:focus {
    box-shadow: 0 0 0 0.25rem rgba(233, 143, 17, 0.25);
}

.pagination {
    border: .5px solid var(--main-color);
    border-radius: 5px;

    li:first-of-type {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    li:last-of-type {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.page-item {
    border: .5px solid var(--main-color);
}

.form-select {
    border: .5px solid var(--main-color);
}

.form-select:focus {
    border-color: rgba(255, 166, 0, 0.476);;
    box-shadow: 0 0 0 0.25rem rgba(233, 143, 17, 0.25);
}

// ADD TRANSACTION FORM 

.form-control, .input-group-text, .bi-calendar3 {
    border: .5px solid var(--main-color)
}


// STATUS CLASSES

.positive {
    color: green !important;
}

.negative {
    color: red !important;
}