<div>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Transaction</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="addTransactionForm">
            <div class="input-group mb-3">
                <span class="input-group-text">&#8383;</span>
                <select class="form-select" aria-label="Default select example" formControlName="unitType" style="max-width: max-content;">
                    <option selected disabled>Unit</option>
                    <option value="sat">Sat</option>
                    <option value="btc">BTC-&#8383;</option>
                </select>
                <input [class.error-border]="addTransactionForm.get('bitcoin')?.touched && addTransactionForm.get('bitcoin')?.invalid" type="number" class="form-control my-form-control-style"
                    aria-label="Bitcoin amount (with dot and two decimal places)" placeholder="Amount of Bitcoin / Sat"
                    formControlName="bitcoin">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">€</span>
                <input [class.error-border]="addTransactionForm.get('cost')?.touched && addTransactionForm.get('cost')?.invalid" type="number" class="form-control my-form-control-style"
                    aria-label="Euro amount (with dot and two decimal places)" placeholder="Cost"
                    formControlName="cost">
            </div>
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example" formControlName="transactionType">
                    <option selected disabled>Buy / Sell</option>
                    <option value="buy">Buy</option>
                    <option value="sell">Sell</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="dateOfBirth">Date of Transaction</label>
                <div class="input-group">
                    <input [class.error-border]="addTransactionForm.get('date')?.touched && addTransactionForm.get('date')?.invalid" id="dateOfBirth" class="form-control my-form-control-style" placeholder="yyyy-mm-dd"
                        name="dp" ngbDatepicker #dp="ngbDatepicker" formControlName="date" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()"
                        type="button"></button>
                </div>
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Exchange</label>
                <input type="text" class="form-control my-form-control-style" id="formGroupExampleInput"
                    placeholder="Exchange used to buy Bitcoin" formControlName="exchange">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
                <button type="submit" class="btn btn-outline-dark my-btn-style my-btn" [disabled]="!addTransactionForm.valid">Save</button>
                
            </div>
        </form>
    </div>
    
</div>